{% extends "base.html" %}

{% block title %} Moja praca {% endblock title %}

{% block content %}

    <p> Nie wybrano jeszcze tematu</p>

    <div class="row">
      <div class="col-8"></div>

      <div class="col-4">
          <div class="btn-group" role="group" aria-label="...">
              <a href={% url "topics_options" %} role="button" class="btn btn-secondary">Przeglądaj listy tematów</a>
              <a href={% url "declaration" %} role="button" class="btn btn-secondary">Złóż deklarację</a>
          </div>
      </div>
    </div>

{% endblock content %}