{% extends "base.html" %}

{% block title %} Moja praca {% endblock title %}

{% block content %}

    {% if temat %}
        <p>Temat pracy dyplomowej w języku polskim: {{temat.tresc_pl}}</p>
        <p>Opiekun pracy dyplomowej: {{ temat.promotor }}</p>

    {% else %}
        <p> Nie wybrano jeszcze tematu</p>
    {% endif %}

    <div class="row">
      <div class="col-8"></div>

      <div class="col-4">
          <div class="btn-group" role="group" aria-label="...">
              <a href={% url "topics_options" %} role="button" class="btn btn-secondary">Przeglądaj listy tematów</a>
              {% if temat %}<a href={% url "declaration" %} role="button" class="btn btn-secondary">Złóż deklarację</a>{% endif %}
          </div>
      </div>
    </div>

{% endblock content %}