{% extends "base.html" %}

{% block title %} Formularz deklaracji {% endblock title %}

{% block content %}
{#      TODO#}
{#    - pola deklaracji#}

    <p> Deklaracja</p>

    {#    Nie wiem co w action#}
    <form action = "/moja_praca/deklaracja" method = "post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type = "submit" value="ok">
    </form>

    <div class="row">
      <div class="col-8"></div>

      <div class="col-4">
          <div class="btn-group" role="group" aria-label="...">
              <a href={% url "work" %} role="button" class="btn btn-secondary">Zatwierdź</a>
              <a href={% url "work" %} role="button" class="btn btn-secondary">Anuluj</a>
      </div>
    </div>

{% endblock content %}